# 忽略所有隐藏文件（除.gitignore）
.*
!.gitignore

# Python 编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 虚拟环境
.venv/
env/
venv/

# 本地配置文件
*.env
*.local
*.log

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# IDE 配置
.vscode/
.idea/









